body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;	
}

/*sidebar*/

.side-menu {
	height: 100%;
	width: 75px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0px rgba(123, 123, 123, 0.2);
}

ul {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: calc(100% - 40px);
}


.top-nav-item {
	margin-top: 6px;
}


li img {
	width: 30px;
	border: 1px solid yellow;
	border: hidden;
	border-radius: 100%;
}

.active {
	background-color: rgba(123, 123, 123, 0.2);
	border: 20px solid rgba(123, 123, 123, 0.2);
	border-radius: 20%;
}

.chats{
	margin-left: 75px;
	padding-left: 25px;
	width: 30%;
}

.chats-header {
	position:relative;
	background-color: green;
}

.search-chats {
	position: absolute;
	top: 41px;
	left: 0px;
	border:1px solid gray;
	border-right: hidden;
	background-color: gray;
	padding: 15px;
	padding-bottom: 6px;
}

.search-field {
	position: absolute;
	left: 55px;
	border:1px solid gray;
	padding:16px;
	border-left: hidden;
	background-color: gray;
}

@media screen and (max-width: 990px) {
	.hidden-mobile {
		display: none;
	}
 	

	.side-menu {
		position: fixed;
		bottom: 0;
		top: initial;
		max-width: none;
		width:100%;
		height: 65px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 -5px 5px -5px rgba(123, 123, 123, 0.8);
		}

	.menu-list {
		margin-bottom: 30px;
		width: 100%;
		display: flex;
	}

	li {
	
	margin: auto;
	width: initial;
	}

	ul {
		flex-wrap: nowrap;
		justify-content: space-between;
		position: absolute;
		left: initial;
		flex-direction: row;
	}

	.active {
		border: 15px solid rgba(123, 123, 123, 0.2);
		margin-top: -10px;
	}
}

