body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
}

/*sidebar*/

.side-menu {
	height: 100%;
	width: 75px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 2px 0px rgba(200, 200, 200, 0.3);
}

ul {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: calc(100% - 40px);
}


.top-nav-item {
	margin-top: 6px;
}

.reel-names {
	color: #495057;
}


li img {
	width: 30px;
	border: 1px solid yellow;
	border: hidden;
	border-radius: 100%;
}

.active {
	background-color: #f5f7fb;
	border: 20px solid #f5f7fb;
	border-radius: 20%;
}

.chats-header-content {
	width: 90%;
	color: #495057;
}

h4 {
	font-size: 1.2em;
}

/*Chats*/

.chats{
	background-color: #f5f7fb;
	margin-left: 78px;
	position: absolute;
	left: 0;
	top: 0;
	width: 365px;
	padding-left: 20px;
	padding-right: 20px
	padding-top: 20px;
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 2px 0px rgba(200, 200, 200, 0.3);
}

.chats-header {
	display: flex;
}

.search-chats {
	border:1px solid gray;
	border: hidden;
	background-color: #e6ebf5;
	padding: 15px;
	padding-bottom: 6px;
	border-bottom-left-radius: 0.4rem;
	border-top-left-radius: 0.4rem;
}

.search-field {
	border:1px solid gray;
	border-bottom-right-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	padding:16px;
	border: hidden;
	background-color: #e6ebf5;
	width: 70%;
}

.contacts-reel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.user-photo {
	width: 40px;
}

.contacts-reel-blocks{
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
}


.contacts-reel-blocks h5{
	border: 7px solid #e6ebf5;
	border-top: 25px solid #e6ebf5;
	border-right: 15px solid #e6ebf5;
	border-left: 15px solid #e6ebf5;
	background-color: #e6ebf5;
	border-radius: 10%;
	position: absolute;
	top: -8px;
	right: -22px;
	z-index: -1;
}

#stewart {
	right: -28px;
}

#emily {
	right: -18px;
}


.headings-chat {
	color: #495057;
	font-size: 0.9em;
}

/*Messages Content Start Here*/

.recent-messages {
	height: calc(100vh - 260px);
	margin-top: -15px;
	overflow-y: scroll;
}


.msgs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
}

.msg-pics {
	margin-right: 10px;
}

.msgs-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	width: 100%;
}

.msg-items {
	padding-bottom: 0px;
	margin-bottom: 0;
	font-size: 0.8em;
}

.msgs-name {
	color: #495057;
}

.msgs-text {
	color: #7a7f9a;
	font-size: 0.7em;
}

.msgs-time {
	font-size: 0.8em;
	color: #7a7f9a;
}

.new-msgs {
	justify-content: center;
	text-align: center;
}

.nu-of-msgs{
	color: #ef476f;
	padding: 3px 6.5px;
	background-color: rgba(239,71,111,.18);
	border: 1px solid white;
	border: hidden;
	border-radius: 80%;
	margin-top: 10px;
}

#typing {
	color: #7269ef;
}


.msgs-list li {
	width: 95%;	
}

/*ACTIVE CHAT STARTS HERE*/

#active-messaging {
	background-color: #e6ebf5;
}

.active-chat {
	margin-left: 465px;
	width: calc(100% - 386px);
}

.active-chat-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-left: 20px;
	padding-right: 10px;
	margin-top: 10px;
	height: 89px;
	border-bottom: 1px solid #f0eff5;
}

.active-chat-header-icons {
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	width: 20%;

}

.active-chat-header-text {
	color: #495057;
	font-size: 1em;
	padding-left: 10px;
	padding-top: 15px;
}

.chat-imgs {
	border: 1px solid yellow;
	border: hidden;
	border-radius: 100%;
	padding-top: 15px;
}

.chat-msg-img {
	position: relative;
	top: 45px;
}

.connection-status {
	border: 5px solid white;
	position: relative;
	bottom: 25px;
	left: 165px;
	width: 10px;
	z-index: -1;
}

.active-chat-list {
	display: flex;
	width: 100%;
	padding-left: 50px;
	margin-bottom: 30px;
}

.user-msgs {
	display: flex;
	width: 100%;
	padding-left: 10px;
	margin-bottom: 30px;
}

.current-msgs {
	position:relative;
	left: 10px;
}

.active-chat-msg {
	background-color: #7269ef;
	border: 13px solid #7269ef;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	display: flex;
	flex-direction: column;
	margin-right: 5px;
	position: relative;
}

.active-chat-msg::before {
    content: "";
    position: absolute;
    border-color: #7269ef transparent transparent #7269ef;
    border-style: solid;
    border-width: 5px;
    left: -13px;
    bottom: -22px;
}

.active-msg-time {
	text-align: right;
	font-size: 10px;
	color: hsla(0,0%,100%,.5);
}

.time-icon {
	color: hsla(0,0%,100%,.5);
	position: relative;
	top: 8px;
	left: 5px;
	scale: 0.5;
}

span {
	color: #878a92;
}

.chat-msg-name {
	color: #495057;
	position: relative;
	font-size: 0.9em;
	top: 10px;
}

.msg-content {
	color: white;
	font-size: 0.85em;
}

.vert-dots {
	scale: 0.6;
	color: #3124e8;
}




hr {
	color: rgba(123, 123, 123, 0.2);
	margin-bottom: 50px;
	width: 770px;
	z-index: -1;
}

#day {
	color: #495057;
	border: 10px solid #f5f7fb;
	border-radius: 10px;
	background-color: #f5f7fb;
	position: relative;
	top: 17px;
	left: 330px;
	z-index: 1;
}



.footer-container {
	display: flex;
	background-color: white;
	align-items: center;
	border-top: 2px solid #f0eff5;
	height: 95px;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 64%;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 25px;
	width: 95%;
}

.footer-search {
	border: 1px solid green;
	border: hidden;
	border-radius: 10px;
	background-color: #e6ebf5;
	padding-left: 10px;
	width: 75%;
}

.send {
	background-color: #7269ef;
	border: 10px solid #7269ef;
	border-right: 13px solid #7269ef;
	border-left: 13px solid #7269ef;
	border-radius: 20%;
}

#send-icon {
	color: white;
}

.footer-icons{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 25%;
}

.user-msgs {
	display: flex;
	flex-direction: row;
	justify-content: right;
	margin-right: 50px;
	position: relative;
	width: 100%;
}

.user-msgs-content {
	background-color: #e6ebf5;
	border: 13px solid #e6ebf5;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	display: flex;
	flex-direction: column;
	margin-right: 50px;
}

.user-msgs-text {
	color: #495057;
	font-size: 0.85em;
}

.user-time-icon {
	color: rgba(123, 123, 123, 0.4);
	scale: 0.5;
	position: relative;
	top: 8px;
	left: 3px;
}

.user-msg-time {
	color: rgba(123, 123, 123, 0.4);
	font-size: 10px;
}

.user-ver-dots {
	scale: 0.6;
	color: #3124e8;
}

.user-msg-img {
	position: absolute;
	bottom:-10px;
	right: 0;
	width: 40px;
}

.user-msgs-content::before {
    content: "";
    position: absolute;
    border-color: #e6ebf5 #e6ebf5 transparent transparent;
    border-style: solid;
    border-width: 5px;
    left: 772px;
    bottom: 9px;
}

.user-msgs-name {
	font-size: 0.9em;
	color: #495057;
	position: relative;
	left: 325px;
	top: 10px;
}

.chat-scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100vh - 200px);
}

.hide {
	display: none;
}

.hidden-name-msg {
	position: relative;
	left: 40px;
}
/*.active-chat {
	display: none;
}*/

@media screen and (max-width: 600px) {
	.hidden-mobile {
		display: none;
	}
 	

	.side-menu {
		position: fixed;
		bottom: 0;
		top: initial;
		max-width: none;
		width:100%;
		height: 65px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 -5px 5px -5px rgba(123, 123, 123, 0.8);
		z-index: 100;
		}

	.menu-list {
		margin-bottom: 30px;
		width: 100%;
		display: flex;
	}

	li {
	
	margin: auto;
	width: initial;
	}

	ul {
		flex-wrap: nowrap;
		justify-content: space-between;
		position: absolute;
		left: initial;
		flex-direction: row;
	}

	.active {
		border: 15px solid rgba(123, 123, 123, 0.2);
		margin-top: -10px;
	}

	.chats {
		margin-left: 0;
		width: calc(100vw - 40px);
	}

	.recent-msgs {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.msgs-list {
		width: 100%;
		display:flex;
		flex-direction: column;
	}

	.contacts-reel {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.contacts-reel {
		position: initial;
	}

	.search-field {
		width: 88%;
	}

	.msgs-list {
		overflow-y: scroll;
		height: calc(100vh - 350px);
	}

	.active-chat {
	display: none;
	}
}

