body {
	margin: 0;
	padding: 0;
}

.container {
	/*display: flex;	*/
}

/*sidebar*/

.side-menu {
	height: 100%;
	width: 75px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0px rgba(123, 123, 123, 0.2);
}

ul {
	padding-left: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: calc(100% - 40px);
}


.top-nav-item {
	margin-top: 6px;
}

.reel-names {
	color: #495057;
}


li img {
	width: 30px;
	border: 1px solid yellow;
	border: hidden;
	border-radius: 100%;
}

.active {
	background-color: #f5f7fb;
	border: 20px solid #f5f7fb;
	border-radius: 20%;
}

.chats-header-content {
	width: 90%;
	color: #495057;
}

h4 {
	font-size: 1.2em;
}

/*Chats*/

.chats{
	background-color: #f5f7fb;
	margin-left: 78px;
	position: absolute;
	left: 0;
	top: 0;
	width: 365px;
	padding-left: 20px;
	padding-right: 20px
	padding-top: 20px;
}

.chats-header {
	display: flex;
}

.search-chats {
	border:1px solid gray;
	border: hidden;
	background-color: #e6ebf5;
	padding: 15px;
	padding-bottom: 6px;
	border-bottom-left-radius: 0.4rem;
	border-top-left-radius: 0.4rem;
}

.search-field {
	border:1px solid gray;
	border-bottom-right-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	padding:16px;
	border: hidden;
	background-color: #e6ebf5;
	width: 70%;
}

.contacts-reel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.user-photo {
	width: 40px;
}

.contacts-reel-blocks{
	position: relative;
	margin-bottom: 30px;
	z-index: 1;
}


.contacts-reel-blocks h5{
	border: 7px solid #e6ebf5;
	border-top: 25px solid #e6ebf5;
	border-right: 15px solid #e6ebf5;
	border-left: 15px solid #e6ebf5;
	background-color: #e6ebf5;
	border-radius: 10%;
	position: absolute;
	top: -8px;
	right: -22px;
	z-index: -1;
}

#stewart {
	right: -28px;
}

#emily {
	right: -18px;
}


.headings-chat {
	color: #495057;
	font-size: 0.9em;
}

.top-of-chats {
	z-index: 1500;
}

.recent-messages {
	height: calc(100vh - 260px);
	margin-top: -15px;
	overflow-y: scroll;
}


.msgs {
	display: flex;
	align-items: center;
	width: 100%;
}

.msg-pics {
	margin-right: 10px;
}

.msgs-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	width: 80%;
}

.msg-items {
	padding-bottom: 0px;
	margin-bottom: 0;
	font-size: 0.8em;
}

.msgs-name {
	color: #495057;
}

.msgs-text {
	color: #7a7f9a;
	font-size: 0.7em;
}

.msgs-time {
	font-size: 0.8em;
	color: #7a7f9a;
}

.new-msgs {
	justify-content: center;
	text-align: center;
}

.nu-of-msgs{
	color: #ef476f;
	padding: 3px 6.5px;
	background-color: rgba(239,71,111,.18);
	border: 1px solid white;
	border: hidden;
	border-radius: 80%;
	margin-top: 10px;
}

#typing {
	color: #7269ef;
}




@media screen and (max-width: 990px) {
	.hidden-mobile {
		display: none;
	}
 	

	.side-menu {
		position: fixed;
		bottom: 0;
		top: initial;
		max-width: none;
		width:100%;
		height: 65px;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: 0 -5px 5px -5px rgba(123, 123, 123, 0.8);
		z-index: 100;
		}

	.menu-list {
		margin-bottom: 30px;
		width: 100%;
		display: flex;
	}

	li {
	
	margin: auto;
	width: initial;
	}

	ul {
		flex-wrap: nowrap;
		justify-content: space-between;
		position: absolute;
		left: initial;
		flex-direction: row;
	}

	.active {
		border: 15px solid rgba(123, 123, 123, 0.2);
		margin-top: -10px;
	}

	.chats {
		margin-left: 0;
		width: calc(100vw - 40px);
	}

.recent-msgs {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

	.msgs-list {
		width: 100%;
		display:flex;
		flex-direction: column;
	}

	.contacts-reel {
		flex-direction: row;
		width: 100%;
		justify-content: space-around;
	}

	.contacts-reel {
		position: initial;
	}

	.search-field {
		width: 88%;
	}

	.msgs-list {
		overflow-y: scroll;
		height: calc(100vh - 350px);
	}
}

